$body-bg-col: #e6e6e6;
$card-bg-col: #fff;
$white-col: $card-bg-col;
$main-col: #4496ce;
$sec-col: #3d464d;
$light-dark-col: #3c3c3c;
$modal-bg-col: rgba(lighten($main-col, 20%), 0.8);
$border-col: #ced4da;
